*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

@font-face {
    font-family: "Bungee";
    src: url("fonts/Bungee-Inline.otf");
}
h1 { font-size: 20px; }
body{
    background: #f9f9f9;
}

#page-header {
    height: 75px;
    background: #ffffff;
    border-bottom: 4px solid #ffa382;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#page-header #header-inner-content {
    max-width: 800px;
    padding: 0 10px;
    margin: 0 auto;
}

#page-header #header-inner-content #site-logo {
    line-height: 75px;
}
#page-header #header-inner-content #site-logo a{
    text-decoration: none;
}
#page-header #header-inner-content #site-logo span.logo{
    font-family: "Bungee";
    font-size: 22px;
    color: #444444;
}

#page-header #header-inner-content #site-logo span.mini-desc{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}

#page-header #header-inner-content #actions{
    line-height: 75px;
}

#page-header #header-inner-content #sign-in-btn {
    padding: 0 35px 0 0;
    background: url("../res/user-icon.png") center right 1px no-repeat;
}
#page-header #header-inner-content #sign-in-btn a{
    text-decoration: none;
    color: #444444;
}
#page-header #header-inner-content #sign-in-btn a:hover{
    text-decoration: underline;
}

#page-content { margin-top: 115px; }


#page-footer {
    margin-top: 40px;
}
#page-footer #footer-inner-content{
    max-width: 800px;
    margin: 0 auto;
    border-top: 2px solid #ebebeb;
}
#page-footer #footer-inner-content p.copyright{
    color: #b3b3b3;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.upvote{
    background: url("../res/up-arrow.png") center center no-repeat;
}
.upvote:hover {
    cursor: pointer;
    background: url("../res/up-arrow-active.png") center center no-repeat;
}
.downvote {
    background: url("../res/down-arrow.png") center center no-repeat;
}
.downvote:hover {
    cursor: pointer;
    background: url("../res/down-arrow-active.png") center center no-repeat;
}

.column-heading{}
.column-heading h1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 70px;
    margin-bottom: 40px;
}
.column-heading h1:before,
.column-heading h1:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #ffa382;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}
.column-heading h1:before {
    right: 15px;
    margin: 0 0 0 -100%;
}
.column-heading h1:after {
    left: 15px;
    margin: 0 -100% 0 0;
}
.divider {
    margin: 10px 0;
    height: 2px;
    background: #ebebeb;
}
.hashtag {
    font-size: 14px;
    color: #72bb53;
    background: #cbe8ba;
    border: 1px solid #72bb53;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 10px;
    text-decoration: none;
}
.box {
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #cecece;
}
.big-button{
    color: #ffffff;
    text-align: center;
    background: #ffa382;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffc3ae;
    -webkit-box-shadow: 0 5px 0 #ffc3ae ;
    -moz-box-shadow: 0 5px 0 #ffc3ae;
    box-shadow: 0 5px 0 #ffc3ae;
}
.fl_r{
    float: right;
}
.fl_l{
    float: left;
}
.clear{
    clear: both;
}